{% extends "base.html.twig" %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>liste des produits de la categorie {{ category.name }}
                </h1>
            </div>
        </section>
    </main>
{% endblock %}